body {
    background-color: #f4f4f4;
    color: #575757;
}

img {
    height: 300px;
    width: 300px;
}

div {
    margin: 20px;
    padding: 10px;
    background-color: #666666;
    color: #f4f4f4;
}