img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

body {
    background-color: #D2E0DD;
}

div {
    height: 225px;
    width: 225px;
    position: relative;

}

a {
    color: #57A5B8;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
}

#pork {
    left: 500px;
}

#mousse {
    left: 1000px;
}